#!/bin/sh

while true; do
  ip="`ip a | grep 'inet ' | grep -v '127.0.0.1' | head -n1 | awk '{print $2}' | sed 's#/.*$##'`"
  if [ -n "$ip" ] ; then
    break
  fi
  sleep 2
done

id="{{ pillar.get('salt-minion-prefix') }}-${ip}"
sed -i '/^id:/d' /etc/salt/minion
echo "id: $id" >> /etc/salt/minion
echo "$id" > /etc/salt/minion_id
exec salt-minion
