[Unit]
Description=Aria2c
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/sh -c '/usr/bin/aria2c --enable-dht=false --enable-dht6=false --seed-ratio=0 -V -i /srv/torrent/aria2_seedlist.txt'

[Install]
WantedBy=multi-user.target
